<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Role2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ProcessRoleRequest</display-name>
		<servlet-name>ProcessRoleRequest</servlet-name>
		<servlet-class>client.ProcessRoleRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessRoleRequest</servlet-name>
		<url-pattern>/ProcessRoleRequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProcessLoginRequest</display-name>
		<servlet-name>ProcessLoginRequest</servlet-name>
		<servlet-class>client.ProcessLoginRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessLoginRequest</servlet-name>
		<url-pattern>/ProcessLoginRequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TakeRole</display-name>
		<servlet-name>TakeRole</servlet-name>
		<servlet-class>client.TakeRole</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TakeRole</servlet-name>
		<url-pattern>/TakeRole</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayStudentRecords</display-name>
		<servlet-name>DisplayStudentRecords</servlet-name>
		<servlet-class>client.DisplayStudentRecords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayStudentRecords</servlet-name>
		<url-pattern>/DisplayStudentRecords</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProcessAdminLogin</display-name>
		<servlet-name>ProcessAdminLogin</servlet-name>
		<servlet-class>administration.ProcessAdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessAdminLogin</servlet-name>
		<url-pattern>/ProcessAdminLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>client.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddClass</display-name>
		<servlet-name>AddClass</servlet-name>
		<servlet-class>administration.AddClass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClass</servlet-name>
		<url-pattern>/AddClass</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddStudent</display-name>
		<servlet-name>AddStudent</servlet-name>
		<servlet-class>administration.AddStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudent</servlet-name>
		<url-pattern>/AddStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddTeacher</display-name>
		<servlet-name>AddTeacher</servlet-name>
		<servlet-class>administration.AddTeacher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTeacher</servlet-name>
		<url-pattern>/AddTeacher</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutAdmin</display-name>
		<servlet-name>LogoutAdmin</servlet-name>
		<servlet-class>administration.LogoutAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutAdmin</servlet-name>
		<url-pattern>/LogoutAdmin</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SessionAdmin</filter-name>
		<filter-class>administration.SessionFilterAdmin</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SessionAdmin</filter-name>
		<url-pattern>/AddStudent.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionAdmin</filter-name>
		<url-pattern>/AddTeacher.jsp</url-pattern>
	</filter-mapping>
		<filter-mapping>
		<filter-name>SessionAdmin</filter-name>
		<url-pattern>/AddStudent</url-pattern>
	</filter-mapping>
		<filter-mapping>
		<filter-name>SessionAdmin</filter-name>
		<url-pattern>/AddTeacher</url-pattern>
	</filter-mapping>
	
	

	<filter-mapping>
		<filter-name>SessionAdmin</filter-name>
		<url-pattern>/LogoutAdmin</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionAdmin</filter-name>
		<url-pattern>/adminMenu.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionAdmin</filter-name>
		<url-pattern>/FailPage.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionAdmin</filter-name>
		<url-pattern>/SuccessPage.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SessionClient</filter-name>
		<filter-class>client.SessionFilterClient</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionClient</filter-name>
		<url-pattern>/DisplayStudentRecords</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionClient</filter-name>
		<url-pattern>/TakeRole</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionClient</filter-name>
		<url-pattern>/ProcessRoleRequest</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionClient</filter-name>
		<url-pattern>/Menu.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionClient</filter-name>
		<url-pattern>/duplicateEntry.jsp</url-pattern>
	</filter-mapping>
	
	
	


</web-app>